FLUJO MAKE AGENDADOR.json
{
    "name": "AGENDADOR Y CHECADOR.2",
    "flow": [
        {
            "id": 3,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 1675495,
                "maxResults": 120
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1997,
                    "y": -1321
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "ANA PRIMA "
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "fecha_hora",
                        "type": "text"
                    },
                    {
                        "name": "correo_electronico",
                        "type": "text"
                    },
                    {
                        "name": "nombre",
                        "type": "text"
                    },
                    {
                        "name": "numero_telefono",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 21,
            "module": "openai-gpt-3:transformTextToStructuredData",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 3088438
            },
            "mapper": {
                "model": "gpt-4o",
                "prompt": "Si llegan 3 datos ({{3.nombre}}{{3.correo_electronico}}{{3.numero_telefono}}):Mostrar esos datos tal como llegaron.Incluir \"Fecha y Hora: no aplica\" en la salida.\n\n\nSi llegan 4 datos (1.{{3.fecha_hora}}2.{{3.correo_electronico}}3.{{3.nombre}}4.{{3.numero_telefono}}) el output debe  tener cuatro claves Formatear los datos en un objeto JSON:\n\"summary\" \n\"start\"\n\"end\"\n\"attendees\"\n\npara \"start\" tendrás que formatearlo al año 2024 siempre, \"end\" y \"attendees\". La hora de finalización \"end\" debe ser 30 minutos después de la hora de inicio \"start\". \n",
                "rawText": "{{3.fecha_hora}}{{3.correo_electronico}}",
                "parameters": [
                    {
                        "name": "summary",
                        "type": "string",
                        "isRequired": true,
                        "description": "Título del evento",
                        "valueExamples": [
                            "cita con {{3.nombre}}"
                        ]
                    },
                    {
                        "name": "start",
                        "type": "string",
                        "isRequired": true,
                        "description": "Fecha y hora de inicio del evento",
                        "valueExamples": [
                            "2024-08-18T20:00:00Z"
                        ]
                    },
                    {
                        "name": "end",
                        "type": "string",
                        "isRequired": true,
                        "description": " Fecha y hora de finalización del evento (debes sumarle 30 minutos)",
                        "valueExamples": [
                            "2024-08-18T20:30:00Z"
                        ]
                    },
                    {
                        "name": "attendees",
                        "type": "string",
                        "isRequired": true,
                        "description": "Correo electrónico de los asistentes {{3.correo_electronico}}",
                        "valueExamples": [
                            "axeldemian6969@gmail.com",
                            "axeldemian6969@gmail.com"
                        ]
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": -1684,
                    "y": -1371
                },
                "restore": {
                    "expect": {
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "parameters": {
                            "mode": "chose",
                            "items": [
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    }
                                },
                                {
                                    "type": {
                                        "mode": "chose",
                                        "label": "Text"
                                    },
                                    "isRequired": {
                                        "mode": "chose"
                                    },
                                    "valueExamples": {
                                        "mode": "chose",
                                        "items": [
                                            null,
                                            null
                                        ]
                                    }
                                }
                            ]
                        },
                        "objectDefinitions": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            },
                            "label": "ANA WSP "
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "rawText",
                        "type": "text",
                        "label": "Text to Parse",
                        "required": true
                    },
                    {
                        "name": "prompt",
                        "type": "text",
                        "label": "Prompt",
                        "required": true
                    },
                    {
                        "name": "parameters",
                        "spec": {
                            "name": "value",
                            "spec": [],
                            "type": "collection",
                            "label": "Data Definition"
                        },
                        "type": "array",
                        "label": "Structured Data Definition",
                        "required": true
                    },
                    {
                        "name": "objectDefinitions",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "name",
                                    "type": "text",
                                    "label": "Object Name",
                                    "required": true
                                },
                                {
                                    "name": "description",
                                    "type": "text",
                                    "label": "Description",
                                    "required": true
                                },
                                {
                                    "name": "properties",
                                    "spec": {
                                        "spec": [],
                                        "type": "collection",
                                        "label": "Property"
                                    },
                                    "type": "array",
                                    "label": "Properties",
                                    "labels": {
                                        "add": "Add property"
                                    },
                                    "required": true
                                }
                            ],
                            "type": "collection",
                            "label": "Object Definition"
                        },
                        "type": "array",
                        "label": "Object Definitions"
                    }
                ],
                "interface": [
                    {
                        "name": "summary",
                        "type": "text"
                    },
                    {
                        "name": "start",
                        "type": "text"
                    },
                    {
                        "name": "end",
                        "type": "text"
                    },
                    {
                        "name": "attendees",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 52,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 3015098
            },
            "mapper": {
                "from": "drive",
                "limit": "5",
                "filter": [
                    [
                        {
                            "a": "B",
                            "b": "{{21.start}}",
                            "o": "text:contain"
                        }
                    ]
                ],
                "sheetId": "Hoja 1",
                "sortOrder": "asc",
                "spreadsheetId": "1Jq2oi-M7hkbuCHy6sXIrqVbaAwPROMcVhaSZC5E6M70",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -1189,
                    "y": -1376
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "Hoja 1"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "CRM"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (soluciones.novai@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "number",
                        "label": "Maximum number of returned rows"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "NOMBRE (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "INICIO CITA (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "FINAL CITA (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "CORREO  (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Nombre completo (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Número (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 54,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -782,
                    "y": -1463
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 24,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 3015098
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "{{21.summary}}",
                                    "1": "{{21.start}}",
                                    "2": "{{21.end}}",
                                    "3": "{{3.correo_electronico}}",
                                    "4": "{{3.nombre}}",
                                    "5": "{{3.numero_telefono}}"
                                },
                                "sheetId": "Hoja 1",
                                "spreadsheetId": "/1Jq2oi-M7hkbuCHy6sXIrqVbaAwPROMcVhaSZC5E6M70",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": -91,
                                    "y": -1844
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "Hoja 1"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "CRM"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "A"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "B"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "C"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "D"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "E"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "F"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "G"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "H"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "I"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "J"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "K"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "L"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "M"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "N"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "O"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "P"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "Q"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "R"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "S"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "T"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "U"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "V"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "W"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "X"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "Y"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "Z"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values"
                                                }
                                            ]
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (soluciones.novai@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "A"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "B"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "C"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "D"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "E"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "F"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "G"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "H"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "I"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "J"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "K"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "L"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "M"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "N"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "O"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "P"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "Q"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "R"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "S"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "T"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "U"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "V"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "W"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "X"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "Y"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "Z"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 34,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 316,
                                    "y": -1614
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 35,
                                            "module": "email:ActionSendEmail",
                                            "version": 7,
                                            "parameters": {
                                                "account": 3135676,
                                                "saveAfterSent": false
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{21.start}}",
                                                            "b": "2024",
                                                            "o": "text:notcontain"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "cc": [],
                                                "to": [
                                                    "{{21.attendees}}"
                                                ],
                                                "bcc": [],
                                                "from": "",
                                                "html": "es una prueba",
                                                "sender": "",
                                                "headers": [],
                                                "replyTo": "",
                                                "subject": "prueba",
                                                "priority": "normal",
                                                "inReplyTo": "",
                                                "references": [],
                                                "attachments": [
                                                    {
                                                        "cid": "",
                                                        "data": "https://www.dropbox.com/scl/fo/bk2f373t355c3rcsgxi6a/ABPbC83Q5vlrdK-uz59SEjI?rlkey=41tglm8c1e4lfnsyfd9uyx9jk&st=cajhycms&dl=0",
                                                        "fileName": "BAFF PROMO copy_compressed.pdf"
                                                    }
                                                ],
                                                "contentType": "html"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 681,
                                                    "y": -1755
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "cc": {
                                                            "mode": "chose"
                                                        },
                                                        "to": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "bcc": {
                                                            "mode": "chose"
                                                        },
                                                        "priority": {
                                                            "label": "Normal"
                                                        },
                                                        "references": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "contentType": {
                                                            "label": "HTML"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "account": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "smtp"
                                                            },
                                                            "label": "info@novaisolutions.com (SMTP info@novaisolutions.com)"
                                                        },
                                                        "saveAfterSent": {
                                                            "label": "No"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "account",
                                                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                                                        "label": "Connection",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "saveAfterSent",
                                                        "type": "select",
                                                        "label": "Save message after sending",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "type": "hidden"
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "to",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Email address",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "To",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "subject",
                                                        "type": "text",
                                                        "label": "Subject"
                                                    },
                                                    {
                                                        "name": "contentType",
                                                        "type": "select",
                                                        "label": "Content Type",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "html",
                                                                "text"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": [
                                                            {
                                                                "name": "fileName",
                                                                "type": "filename",
                                                                "label": "File name",
                                                                "required": true,
                                                                "semantic": "file:name"
                                                            },
                                                            {
                                                                "name": "data",
                                                                "type": "buffer",
                                                                "label": "Data",
                                                                "required": true,
                                                                "semantic": "file:data"
                                                            },
                                                            {
                                                                "name": "cid",
                                                                "type": "text",
                                                                "label": "Content-ID"
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    },
                                                    {
                                                        "name": "cc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Email address"
                                                        },
                                                        "type": "array",
                                                        "label": "Copy recipient"
                                                    },
                                                    {
                                                        "name": "bcc",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "email",
                                                            "label": "Email address"
                                                        },
                                                        "type": "array",
                                                        "label": "Blind copy recipient"
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "text",
                                                        "label": "From"
                                                    },
                                                    {
                                                        "name": "sender",
                                                        "type": "text",
                                                        "label": "Sender"
                                                    },
                                                    {
                                                        "name": "replyTo",
                                                        "type": "text",
                                                        "label": "Reply-To"
                                                    },
                                                    {
                                                        "name": "inReplyTo",
                                                        "type": "text",
                                                        "label": "In-Reply-To"
                                                    },
                                                    {
                                                        "name": "references",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "text",
                                                            "label": "Reference",
                                                            "required": true
                                                        },
                                                        "type": "array",
                                                        "label": "References"
                                                    },
                                                    {
                                                        "name": "priority",
                                                        "type": "select",
                                                        "label": "Priority",
                                                        "validate": {
                                                            "enum": [
                                                                "high",
                                                                "normal",
                                                                "low"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Headers"
                                                    },
                                                    {
                                                        "name": "html",
                                                        "type": "text",
                                                        "label": "Content"
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 32,
                                            "module": "google-calendar:createAnEvent",
                                            "version": 5,
                                            "parameters": {
                                                "__IMTCONN__": 3015098
                                            },
                                            "filter": {
                                                "name": "",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{21.start}}",
                                                            "b": "2024",
                                                            "o": "text:startwith"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "end": "{{21.end}}",
                                                "start": "{{21.start}}",
                                                "select": "detail",
                                                "summary": "{{21.summary}}",
                                                "calendar": "soluciones.novai@gmail.com",
                                                "attendees": [
                                                    {
                                                        "email": "{{21.attendees}}"
                                                    }
                                                ],
                                                "visibility": "default",
                                                "allDayEvent": false,
                                                "sendUpdates": "all",
                                                "transparency": "opaque",
                                                "conferenceDate": true,
                                                "guestsCanModify": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 681,
                                                    "y": -1455
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "select": {
                                                            "label": "In Detail"
                                                        },
                                                        "colorId": {
                                                            "mode": "chose"
                                                        },
                                                        "calendar": {
                                                            "mode": "chose",
                                                            "label": "soluciones.novai@gmail.com (Primary Calendar)"
                                                        },
                                                        "attendees": {
                                                            "mode": "chose",
                                                            "items": [
                                                                null
                                                            ]
                                                        },
                                                        "overrides": {
                                                            "mode": "chose"
                                                        },
                                                        "recurrence": {
                                                            "mode": "chose"
                                                        },
                                                        "visibility": {
                                                            "mode": "chose",
                                                            "label": "Default"
                                                        },
                                                        "allDayEvent": {
                                                            "mode": "chose"
                                                        },
                                                        "attachments": {
                                                            "mode": "chose"
                                                        },
                                                        "sendUpdates": {
                                                            "mode": "chose",
                                                            "label": "To All Guests"
                                                        },
                                                        "transparency": {
                                                            "mode": "chose",
                                                            "label": "Busy"
                                                        },
                                                        "conferenceDate": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "My Google connection (soluciones.novai@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "select",
                                                        "type": "select",
                                                        "label": "Create an Event",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "quick",
                                                                "detail"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "calendar",
                                                        "type": "select",
                                                        "label": "Calendar ID",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "colorId",
                                                        "type": "select",
                                                        "label": "Color"
                                                    },
                                                    {
                                                        "name": "summary",
                                                        "type": "text",
                                                        "label": "Event Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "allDayEvent",
                                                        "type": "boolean",
                                                        "label": "All Day Event",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "start",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "Start Date",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "end",
                                                        "time": true,
                                                        "type": "date",
                                                        "label": "End Date"
                                                    },
                                                    {
                                                        "name": "duration",
                                                        "type": "time",
                                                        "label": "Duration"
                                                    },
                                                    {
                                                        "name": "description",
                                                        "type": "text",
                                                        "label": "Description"
                                                    },
                                                    {
                                                        "name": "location",
                                                        "type": "text",
                                                        "label": "Location"
                                                    },
                                                    {
                                                        "name": "useDefault",
                                                        "type": "boolean",
                                                        "label": "Use the default reminder settings for this event"
                                                    },
                                                    {
                                                        "name": "overrides",
                                                        "spec": [
                                                            {
                                                                "name": "method",
                                                                "type": "select",
                                                                "label": "Method",
                                                                "options": [
                                                                    {
                                                                        "label": "Email",
                                                                        "value": "email"
                                                                    },
                                                                    {
                                                                        "label": "Pop-up",
                                                                        "value": "popup"
                                                                    }
                                                                ],
                                                                "required": true
                                                            },
                                                            {
                                                                "name": "minutes",
                                                                "type": "uinteger",
                                                                "label": "Minutes",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 40320
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Reminders",
                                                        "validate": {
                                                            "maxItems": 5
                                                        }
                                                    },
                                                    {
                                                        "name": "attendees",
                                                        "spec": [
                                                            {
                                                                "name": "displayName",
                                                                "type": "text",
                                                                "label": "Name"
                                                            },
                                                            {
                                                                "name": "email",
                                                                "type": "email",
                                                                "label": "Email",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Attendees"
                                                    },
                                                    {
                                                        "name": "transparency",
                                                        "type": "select",
                                                        "label": "Show me as",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "opaque",
                                                                "transparent"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "visibility",
                                                        "type": "select",
                                                        "label": "Visibility",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "default",
                                                                "public",
                                                                "private"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "sendUpdates",
                                                        "type": "select",
                                                        "label": "Send notifications about the event creation",
                                                        "validate": {
                                                            "enum": [
                                                                "all",
                                                                "externalOnly",
                                                                "none"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "guestsCanModify",
                                                        "type": "boolean",
                                                        "label": "Guests can modify the event",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "recurrence",
                                                        "spec": {
                                                            "name": "value",
                                                            "type": "text",
                                                            "label": "Value"
                                                        },
                                                        "type": "array",
                                                        "label": "Recurrence"
                                                    },
                                                    {
                                                        "name": "conferenceDate",
                                                        "type": "boolean",
                                                        "label": "Add Google Meet Video Conferencing",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "attachments",
                                                        "spec": [
                                                            {
                                                                "name": "fileUrl",
                                                                "type": "url",
                                                                "label": "File URL",
                                                                "required": true
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Attachments"
                                                    }
                                                ],
                                                "advanced": true
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 57,
                            "module": "openai-gpt-3:messageAssistantAdvanced",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 3088438
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{52.`__IMTLENGTH__`}}",
                                            "b": "1",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "role": "assistant",
                                "message": "Lo siento, no podemos agendar tu cita , en este horario",
                                "threadId": "{{3.threadId}}",
                                "assistantId": "asst_Qi83znLMO7T02XcnBauhyzLo",
                                "_func_threadId": {
                                    "method": "POST"
                                },
                                "_func_getConversationId": {
                                    "method": "POST"
                                },
                                "_func_agendar_reunion_make": {
                                    "method": "POST"
                                },
                                "_func_recibir_info_por_correo": {
                                    "method": "POST"
                                }
                            },
                            "metadata": {
                                "designer": {
                                    "x": -227,
                                    "y": -1229
                                },
                                "restore": {
                                    "expect": {
                                        "role": {
                                            "label": "Assistant"
                                        },
                                        "model": {
                                            "mode": "chose"
                                        },
                                        "tools": {
                                            "mode": "chose"
                                        },
                                        "assistantId": {
                                            "mode": "chose",
                                            "label": "Ana prima (gpt-4o-mini)",
                                            "nested": [
                                                {
                                                    "help": "Envía datos básicos de una reunión a Make para agendar en Google Calendar",
                                                    "name": "_func_agendar_reunion_make",
                                                    "spec": [
                                                        {
                                                            "help": "URL to fetch the `agendar_reunion_make` outputs to submit to the Assistant.\nThe field is **required** in order for the tool to be called. Only `POST` HTTP method is currently supported.\nIf you specify this URL, the function will be automatically added to the **Tools** parameter.",
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "help": "The HTTP method to use for the tool call. If not specified, defaults to `POST`.",
                                                            "name": "method",
                                                            "type": "hidden",
                                                            "label": "HTTP Method",
                                                            "default": "POST"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Function: agendar_reunion_make"
                                                },
                                                {
                                                    "help": "Recibe información de contacto para enviar más detalles por correo electrónico",
                                                    "name": "_func_recibir_info_por_correo",
                                                    "spec": [
                                                        {
                                                            "help": "URL to fetch the `recibir_info_por_correo` outputs to submit to the Assistant.\nThe field is **required** in order for the tool to be called. Only `POST` HTTP method is currently supported.\nIf you specify this URL, the function will be automatically added to the **Tools** parameter.",
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "help": "The HTTP method to use for the tool call. If not specified, defaults to `POST`.",
                                                            "name": "method",
                                                            "type": "hidden",
                                                            "label": "HTTP Method",
                                                            "default": "POST"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Function: recibir_info_por_correo"
                                                },
                                                {
                                                    "help": "Extracts the conversation ID from a Botpress event",
                                                    "name": "_func_getConversationId",
                                                    "spec": [
                                                        {
                                                            "help": "URL to fetch the `getConversationId` outputs to submit to the Assistant.\nThe field is **required** in order for the tool to be called. Only `POST` HTTP method is currently supported.\nIf you specify this URL, the function will be automatically added to the **Tools** parameter.",
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "help": "The HTTP method to use for the tool call. If not specified, defaults to `POST`.",
                                                            "name": "method",
                                                            "type": "hidden",
                                                            "label": "HTTP Method",
                                                            "default": "POST"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Function: getConversationId"
                                                },
                                                {
                                                    "help": "ID del hilo del asistente de OpenAI.",
                                                    "name": "_func_threadId",
                                                    "spec": [
                                                        {
                                                            "help": "URL to fetch the `threadId` outputs to submit to the Assistant.\nThe field is **required** in order for the tool to be called. Only `POST` HTTP method is currently supported.\nIf you specify this URL, the function will be automatically added to the **Tools** parameter.",
                                                            "name": "url",
                                                            "type": "url",
                                                            "label": "URL"
                                                        },
                                                        {
                                                            "help": "The HTTP method to use for the tool call. If not specified, defaults to `POST`.",
                                                            "name": "method",
                                                            "type": "hidden",
                                                            "label": "HTTP Method",
                                                            "default": "POST"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Function: threadId"
                                                }
                                            ]
                                        },
                                        "tool_choice": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "response_format": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "truncation_strategy": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        },
                                        "file_search_resources": {
                                            "mode": "chose"
                                        },
                                        "code_interpreter_resources": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "openai-gpt-3"
                                            },
                                            "label": "ANA WSP "
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:openai-gpt-3",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "assistantId",
                                        "type": "select",
                                        "label": "Assistant",
                                        "required": true
                                    },
                                    {
                                        "name": "role",
                                        "type": "select",
                                        "label": "Role",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "user",
                                                "assistant"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "threadId",
                                        "type": "text",
                                        "label": "Thread ID"
                                    },
                                    {
                                        "name": "model",
                                        "type": "select",
                                        "label": "Model"
                                    },
                                    {
                                        "name": "tools",
                                        "type": "select",
                                        "label": "Tools",
                                        "multiple": true,
                                        "validate": {
                                            "enum": [
                                                "file_search",
                                                "code_interpreter"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "file_search_resources",
                                        "type": "select",
                                        "label": "File Search Resources"
                                    },
                                    {
                                        "name": "code_interpreter_resources",
                                        "type": "select",
                                        "label": "Code Interpreter Resources",
                                        "multiple": true,
                                        "validate": {
                                            "maxItems": 20
                                        }
                                    },
                                    {
                                        "name": "tool_choice",
                                        "type": "select",
                                        "label": "Tool Choice",
                                        "validate": {
                                            "enum": [
                                                "none",
                                                "auto",
                                                "required",
                                                "file_search",
                                                "code_interpreter",
                                                "function"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "instructions",
                                        "type": "text",
                                        "label": "Instructions"
                                    },
                                    {
                                        "name": "max_prompt_tokens",
                                        "type": "uinteger",
                                        "label": "Max Prompt Tokens"
                                    },
                                    {
                                        "name": "max_completion_tokens",
                                        "type": "uinteger",
                                        "label": "Max Completion Tokens"
                                    },
                                    {
                                        "name": "temperature",
                                        "type": "number",
                                        "label": "Temperature",
                                        "validate": {
                                            "max": 2,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "top_p",
                                        "type": "number",
                                        "label": "Top P",
                                        "validate": {
                                            "max": 1,
                                            "min": 0
                                        }
                                    },
                                    {
                                        "name": "response_format",
                                        "type": "select",
                                        "label": "Response Format",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "json_object",
                                                "text"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "truncation_strategy",
                                        "type": "select",
                                        "label": "Truncation Strategy",
                                        "validate": {
                                            "enum": [
                                                "auto",
                                                "last_messages"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "_func_agendar_reunion_make",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "method",
                                                "type": "hidden",
                                                "label": "HTTP Method"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Function: agendar_reunion_make"
                                    },
                                    {
                                        "name": "_func_recibir_info_por_correo",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "method",
                                                "type": "hidden",
                                                "label": "HTTP Method"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Function: recibir_info_por_correo"
                                    },
                                    {
                                        "name": "_func_getConversationId",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "method",
                                                "type": "hidden",
                                                "label": "HTTP Method"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Function: getConversationId"
                                    },
                                    {
                                        "name": "_func_threadId",
                                        "spec": [
                                            {
                                                "name": "url",
                                                "type": "url",
                                                "label": "URL"
                                            },
                                            {
                                                "name": "method",
                                                "type": "hidden",
                                                "label": "HTTP Method"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Function: threadId"
                                    },
                                    {
                                        "name": "message",
                                        "type": "text",
                                        "label": "Message",
                                        "required": true
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 120,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": true,
            "dlq": true,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us1.make.com"
    }
}